@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300&display=swap');

body {
    background-color: #AD8111;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: #000;
    margin-bottom: 5rem;
}

/* Quiz Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    padding: 34px;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    font-size: 2.4rem;
    width: 490px;
    text-align: center;
    margin-bottom: 16px;
    padding: 32px 0;
    color: #000;
    background-color: #61470A;
    border-radius: 2rem;
}

.btn:hover {
    color: #6B6861;
    background-color: #E6C67C;
    transition: transform 200ms;
    transform: scale(1.04);
    cursor: pointer;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}
